[2016-04-01 03:58] johnnliu opened #3 "GalaxyExplorer UWP for Xbox One?"
Since I don't have a HoloLens unit yet.  But thinking that UWP apps should work across Windows 10.  Would it be a lot of work to convert GalaxyExplorer to XB1?

Has anyone given this a shot?

[2016-04-01 11:31] ThitherCrane commented on #3
I installed the app on my PC and it worked. Follow the instructions here https://github.com/Microsoft/GalaxyExplorer/blob/master/README.md

[2016-04-02 17:48] dotMorten opened #4 "Create releases with pre-compiled appx for quick deployment"
Please compile the appx and place it under the "releases" tab for quicker deployment.

[2016-04-02 21:18] ThitherCrane commented on #4
If compiled, how will users see the code?

[2016-04-02 23:01] ThitherCrane opened #5 "Making progress"
I can make this. How to progress and make it look like the earth-moon animation?
![myplanet](https://cloud.githubusercontent.com/assets/18190665/14229589/2de5f098-f905-11e5-90ce-91642c9bae7a.JPG)
 starting from here?

[2016-04-02 23:57] dotMorten commented on #4
Errrr? the way they do it right now would work. Not asking for a replacement, but a quick getting started.

[2016-04-02 23:59] dotMorten commented on #4
Personally I'm struggling with getting it to compile but I'm more anxious to get the app deployed to my HoloLens the moment it landed on my doorstep. Experience with the device and it's apps comes first. Building apps and deconstructing source code comes after.
Alternatively just put it in the store.

[2016-04-03 00:08] jadack-msft commented on #4
Galaxy Explorer is available on the Windows Store for HoloLens devices.

[2016-04-03 00:12] dotMorten commented on #4
Really? I didn't see it there. Only 6 apps are shown.

[2016-04-03 00:22] jadack-msft commented on #3
UWAs (Universal Windows Apps) work across all Windows 10 devices, including PCs, HoloLens, Mobile, and Xbox. Galaxy Explorer is built as a UWA, so give it a try!

Get information on how to develop for your Xbox One here: https://developer.microsoft.com/en-us/windows/windows-apps/uwp-on-xbox

[2016-04-03 00:26] dotMorten commented on #4
Found it!

[2016-04-03 00:26] #4 closed

[2016-04-03 00:58] ThitherCrane opened #6 "Questions"
1) Why was the app developed using Unity rather than Visual Studio?

2) Can the app run from within Visual Studio?

3) Will development of HoloLens apps in the future always be done via Unity?

4) Does Unity allow stepping into scripts?

5) What is the best / easiest way to debug the scripts?

6) Since the objective of the app is teaching programming, will the team publish YouTube videos showing h

[2016-04-03 03:51] ThitherCrane commented on #5
Created a rolling ball that uses script in C # !
[ball](https://cloud.githubusercontent.com/assets/18190665/14230618/8fd4f38a-f92d-11e5-931a-829b70b4277e.JPG)

[2016-04-04 19:51] nrgonzalez777 opened #7 "AccessViolationException When Deployed on Hololens Emulator"
Hello,

When deploying the GalaxyExplorer application to the Hololens emulator, I get a System.AccessViolationException in the TransitionManager's PrevSceneLoadedCoroutine method. More specifically, this occurs on line 507, when the application is setting all of the found collider's enabled value to true. However, this occurs only when the application is transitioning to the GalaxyView state (line

[2016-04-04 19:55] ChimeraScorn commented on #3
There should be a little work required to take appropriate advantage of the controller, but this is definitely a space where we would like to see the project move forward. :)

[2016-04-04 19:59] ThitherCrane commented on #7
Please give step by step description how you arrived at this situation.

[2016-04-04 21:01] nrgonzalez777 commented on #7
1. Set up Hololens dev environment according to Microsoft documentation at https://developer.microsoft.com/en-us/windows/holographic/install_the_tools.

2. Downloaded GalaxyExplorer project using the "Download Zip" functionality and extracted files.

3. Opened folder as Unity project and let it re-import files (Unity pops up a warning saying that the project was made with an earlier version of Uni

[2016-04-05 05:02] danglingneuron commented on #6
1) There are two types of apps that will work on HoloLens.

a) 2D apps which are regular/tweaked Windows 10 UWP apps - usually developed in C++.Net, C#.Net, VB.Net and XAML - using Visual Studio in most cases

b) 3D Holographic apps - which can be built via (i) Full game engine with editor e.g. Unity3D (ii) barebones DirectX (iii) in future - other engines and middleware

Please note that after do

[2016-04-05 17:12] bjmalicoat commented on #7
Thanks for the detailed report!
I've opened a bug on our side to track this issue, but until it's fixed, your workaround is the best approach. Use **Master** or **Release** and you shouldn't have any problems.

[2016-04-05 17:49] ThitherCrane commented on #6
Thank you for the explanation. I can make simple rotating objects as shown below. However, I am interested in complex interactions, e.g., Internet searching with Bing, complex movements such the helical model and extraction of the core (I cannot see this in my PC app). Is Unity capable of supporting all these specifications?
![planet](https://cloud.githubusercontent.com/assets/18190665/14292231/2f

[2016-04-05 18:30] ChimeraScorn commented on #6
At this point, this is a conversation that is better suited to the forums over at https://forums.hololens.com or where we will do general dev support, or http://forum.unity3d.com/ where the Unity team does general dev support :)

[2016-04-05 18:30] #6 closed

[2016-04-06 10:31] jasonyslai opened #8 "A question of the ViewLoader.cs"
Why do it need to store event handler to the private event (_coreSystemsLoaded) before the Core system loaded?

[2016-04-06 11:41] ThitherCrane commented on #8
Please explain more.

[2016-04-06 12:21] jasonyslai commented on #8
Thank you for response:D

 public event Action CoreSystemsLoaded
    {

        add
        {
            if (coreSystemsLoaded)                   // Here! i don't understand this statement
            {
                value();
            }
            else
            {
                _coreSystemsLoaded += value;  //Why it need to store it to private event
            }
        }

        remo

[2016-04-06 13:27] ThitherCrane opened #9 "Jupiter"
Below I made Jupiter and the four Galilean moons https://en.wikipedia.org/wiki/Galilean_moons. How to import 3D material for these moons?
![jupiter](https://cloud.githubusercontent.com/assets/18190665/14323361/3b1e96fc-fbee-11e5-853f-a95c305e02db.JPG)

[2016-04-06 14:00] ThitherCrane commented on #8
Possibly this explanation: https://github.com/Microsoft/GalaxyExplorer/blob/master/Assets/Scripts/ViewLoader.cs
![explain](https://cloud.githubusercontent.com/assets/18190665/14319193/47e72918-fbde-11e5-96cf-dccb414e7109.JPG)

[2016-04-06 14:45] jadack-msft commented on #8
This is a programming paradigm with EventHandlers that calls delegates when registering for an event if the impetus for the event has already triggered.

In this case, any class can register to be notified when Core systems are loaded, and if the Core systems are already loaded then the delegate will be called immediately. If the Core systems are not loaded, then the delegate will be called when t

[2016-04-06 16:52] jasonyslai commented on #8
Hi @jadack-msft , Thanks for your explanation :)!
Sorry for my stupidity^^'.
Would u mind telling me what's the difference between

    value();

and

    _coreSystemsLoaded += value;

[2016-04-06 17:13] jadack-msft commented on #8
value is the delegate to be called when the event is triggered. The first context is calling the delegate directly, while the second registers the delegate with the event. All registered delegates are called at line 183 in ViewLoader.cs.

[2016-04-06 17:37] ThitherCrane commented on #8
jadack-msft : If delegates must be registered before being called, is this the reason why some Microsoft apps (e.g., weather or Xbox) must be clicked twice to work properly?

[2016-04-06 17:48] ChimeraScorn commented on #8
Delegates needing to be registered is a programming construct... It does not have a direct impact on an app behavior, beyond what the developer intends.  An app level behavior like you are describing cannot be ascribed to the semantics of a particular programming construct.

[2016-04-06 18:49] jasonyslai commented on #8
@jadack-msft Thank you! I think i got the usage of this accessor structure.
**Directly or Manually call delegates :D?**

[2016-04-06 23:58] Arthurwiz opened #10 "'WSA' does not exist in UnityEngine.VR"
I'm trying to build the project and I could not pass this error when trying to build it in Unity.

Here are my specs:
Windows 10 Pro
Unity beta version: 5.4.0b13
VS Community 2015 Upgrade 2

This is what I did:
1) Unzip the GalaxyExplorer
2) Open it with Unity [C:\Program Files\Unity 5.4.0b13]
3) When building with these settings: Windows Store ---> SDK: Universal 1.0, UWP Build Type: D3D, Build a

[2016-04-07 00:08] bjmalicoat commented on #10
Did you download the Unity Editor linked from http://lens.ms/Sa37sr ?

[2016-04-08 02:32] Arthurwiz commented on #10
@bjmalicoat Thank you!

[2016-04-08 02:32] #10 closed

[2016-04-08 21:38] AceHack opened #11 "Proposal: Update pin screen"
This is an amazing app, one suggestion have a better pin screen like RoboRaid.

[2016-04-15 17:26] baloodevil opened #12 "Supplied PxGeometry is not valid"
I receive an error when trying to load the GalaxyExplorer in Hololens emulator.

[code]

I followed the instructions in the [channel 9 tutorial](https://channel9.msdn.com/Blogs/AdamsGarage/Getting-Started-with-the-HoloLens), with the exception that I git cloned the project, instead of downloading a zip.  The emulator starts, 'pinning Earth to the middle of the room', it starts to zoom out to the s

[2016-04-15 18:39] jadack-msft commented on #12
Are you deploying a debug version of Galaxy Explorer to the emulator? From the README:

"From Visual Studio, set the Configuration to Release for faster builds (doesn't use .NET Native) or Master to build the type of package the Store needs (uses .NET Native). Make sure to change ARM or x64 to x86. Now you can deploy to the Emulator, a Remote Device, or create a Store package to deploy at a later

[2016-04-16 01:33] baloodevil commented on #12
Selecting "Release" solved the problem.  Thank you.

[2016-04-16 01:33] #12 closed

[2016-04-21 20:40] NeerajW commented on #11
Thank you for the suggestion. We will investigate that.

[2016-04-21 20:40] #8 closed

[2016-04-29 14:56] MuthiahKa opened #13 "Download issues"
Unable to download the Galaxy explorer app. Now during the third attempt,  it got struck at 47% for the past 1 hour. How long does it really take to download this?. Please advise

[2016-04-29 17:46] ChimeraScorn commented on #13
To be clear, are you having trouble downloading from the store, or syncing the repo?

[2016-04-29 21:38] MuthiahKa commented on #13
Thanks for your follow up.
After using the hard wired network cable to the router, in stead of wireless connection, the down load process could complete with in 4 minutes. There could be problem in my wireless network. So we can close this issue.

[2016-04-29 21:38] #13 closed

[2016-05-04 23:00] timGerken opened #14 "GazeSelection can be more efficient when using SphereCast"
The SphereCast is currently using GazeDistance as the radius for the sphere to cast. This defaults to a sphere that has a 30m radius.

Fix: Calculate the sphere's size at GazeDistance based on GazeSpreadDegrees and cast that instead.

[2016-05-04 23:10] timGerken commented on #14
Closed by pull request #15

[2016-05-04 23:10] #14 closed

[2016-05-05 00:19] timGerken opened #16 "Project needs to be migrated from Unity 5.4.0b10 to 5.4.0b14"
Project needs to move to Unity 5.4.0b14-HTP

Load b10 project into Unity b14
Build and deploy project for Windows Store
Commit changes to materials, shaders and Project Settings assets

[2016-05-16 16:44] timGerken commented on #16
closed with #17

[2016-05-16 16:44] #16 closed

[2016-05-16 17:48] ChimeraScorn commented on #5
Hey Thither,

Closing this since it is not an issue tracking an improvement to the application.

-C

[2016-05-16 17:48] #5 closed

[2016-05-16 19:13] ThitherCrane opened #19 "First Impressions"
Per ChimeraScorn's comment:

I finally succeeded in installing the app! Here are my preliminary comments. I know the developing team had done a marvelous and wonderful job, so my comments below should be taken with a giant grain of salt!

Overall downloading and installation (on PC):
The process was not straightforward due to multiplicity of files that had to be downloaded / installed. Also, the f

[2016-05-17 05:41] mikehc commented on #7
Any updates on this? I'm having the same issue.

[2016-05-17 18:40] timkeosa commented on #7
I've also hit this bug building/running Galaxy Explorer on my PC and spent some time investigating it.

The AV occurs because GetComponent is returning a set of invalid memory address, but only when running a "debug" build of the app. This leads me to think it might be caused by a threading bug or some other timing hole in the Coroutine functionality.

I filed a Unity bug for this issue: https://f

[2016-05-18 16:06] timkeosa opened #20 "Error in Unity when building project: "Unknown version control plugin: Tfs""
This error message is generated by Unity while building GalaxyExplorer, but doesn't appear to have any impact on the build.

A thread on the [HoloLens forums](https://forums.hololens.com/discussion/comment/1642#Comment_1642) discusses this issue.

[2016-05-18 16:13] timkeosa opened #21 "Error in Unity when building project: "Broken text PPtr in file...""
This error is generated in Unity when building GalaxyExplorer for the first time causing the build to fail. However, subsequent builds of the project won't hit this error and successfully generate the Visual Studio Solution. Work-around is to simply build in Unity twice.

A [HoloLens forum thread](https://forums.hololens.com/discussion/comment/2102#Comment_2102) covers this error in more detail.

[2016-05-18 16:16] timkeosa opened #22 "Error in Unity when building project: "Component MonoBehaviour could not be loaded...""
This strange error occurs when building GalaxyExplorer in Unity, but it doesn't cause the build to fail and doesn't appear to have any impact on Galaxy Explorer.

Complete error message is: "Component MonoBehaviour could not be loaded when loading game object. Cleaning up!"

[2016-05-26 21:12] timGerken opened #24 "Updating HoloToolkit contents not phone specific"
The current content in the phone branch should be pulled into master as it is not strictly phone specific.

[2016-05-26 21:23] timGerken commented on #24
resolved with #25

[2016-05-26 21:23] #24 closed

[2016-06-07 22:41] timGerken commented on #21
This is resolved as part of #28, currently in the phone branch.

[2016-06-10 18:06] timGerken commented on #20
this is resolved in Microsoft/phone with #29

[2016-08-01 02:03] zwxbest opened #36 "MoveCube Button make gaze behave abnormal."
The card will not show until my gaze precisely on "UI_POI" Collider,is this normal?
but
when I use moveCube button to move the galaxy  two or more times,the card shows when gaze UI don't move on the "UI_POI" Collider,gaze UI is On  "UI_POI"'s left or right.
maybe my network reason,I can't upload my screenshot,so I use this link
http://7xngf3.com1.z0.glb.clouddn.com/galaxy_Bug.PNG

[2016-08-08 09:13] zwxbest commented on #36
I think I solved this,chang GazeCursor GameObject 's Cursor Script‘s Prioritied Cursor Mask ,change Sphere Cast Search  To Raycast Search.

[2016-08-10 08:23] alwinv opened #37 "Earth rotation rate shouldn't be locked to moon orbit"
The way it's currently animated, the Earth rotates 1 time for each Moon orbit - which makes the same side of the Earth always point to the Moon.

If you slow down the Moon's rotation rate to 1/2 and increase the Earth's rotation 2x, it wouldn't be as obvious that it's wrong.

The Earth actually rotates about 27 times on its axis for each complete Moon orbit around the earth. You don't need to do t

[2016-08-10 12:21] ThitherCrane commented on #37
I would say that the animation is made for illustration purposes only and would not realistically describe motions of objects. For example, the Solar System View describes only earth’s movement around the sun but would not describe the moon ‘s movement in that frame of reference. A further complication is the fact that planets’ orbits around the sun are helical rather than circular. My conclusion

[2016-08-10 18:09] ChimeraScorn commented on #37
Alwin, is this a change you’d be interested in making?

-C

From: alwinv [mailto:notifications@github.com]
Sent: Wednesday, August 10, 2016 1:24 AM
To: Microsoft/GalaxyExplorer <GalaxyExplorer@noreply.github.com>
Subject: [Microsoft/GalaxyExplorer] Earth rotation rate shouldn't be locked to moon orbit (#37)

The way it's currently animated, the Earth rotates 1 time for each Moon orbit - which make

[2016-08-12 16:36] timGerken commented on #37
Closed by #38

[2016-08-12 16:36] #37 closed

[2016-08-17 21:04] timGerken opened #42 "Phone: VS files under UWP have hard coded paths from my fork"
These files need to be updated to use relative instead of absolute paths
- UWP/GalaxyExplorer.sln
- UWP/GalaxyExplorer/GalaxyExplorer.csproj

[2016-08-17 21:46] timGerken opened #43 "POI Card creator tool needed"
It would be incredibly helpful to have a tool that, given two strings for input, automatically spits out a .PNG file for the POI card.

[2016-08-17 23:50] timGerken commented on #36
It is difficult for me to determine the issue you are describing.
- Gaze selection happens in GazeSelectionManager.cs and GazeSelection.cs on the Input GO (GazeCursor's parent).
- GazeSelection.SphericalConeSearch is what's causing the POI to be selected when the cursor is near it.
- That only seems to happen when the cursor is on the Galaxy background (plane), and not when what is behind the POI

[2016-08-24 03:36] elitemn opened #45 "It would be good to have a default narrator for POIs"
Instead of having each contributor narrate, it might be better to have a single default narrator, preferably Cortana

[2016-08-25 03:09] keveleigh commented on #45
It might be interesting to look into adding the [TextToSpeechManager from the HoloToolkit](https://github.com/Microsoft/HoloToolkit-Unity/blob/master/Assets/HoloToolkit/Utilities/Scripts/TextToSpeechManager.cs) to make generating narration easier.

[2016-08-26 14:48] elitemn commented on #45
Thanks for that. I'll take a look.

[2016-08-26 14:53] elitemn commented on #43
This is definitely needed. I'd like to learn how to do this anyway.

[2016-08-26 18:53] timGerken commented on #43
That would be awesome!

[2016-09-09 17:02] moetezbarhoumi opened #52 "Digital voice dubbing"
The attention of the ladies and gentlemen of the group the company Microsoft.
 object: incentive newsletter.
 We would like to draw your kind attention to our invention of the digital voice dubbing: new perspective on digital voice dubbing. If you are interested in our invention, we have the honor to present you and offer our collaboration in our mutual interests. Please, ladies and gentlemen, acc

[2016-09-22 19:15] timGerken commented on #43
Hey @elitemn, have you been able to make any progress on this tool?

[2016-09-22 21:25] #42 closed

[2016-09-22 21:25] timGerken commented on #20
closed via #56

[2016-09-22 21:25] #20 closed

[2016-09-22 21:26] timGerken commented on #21
closed via #56

[2016-09-22 21:26] #21 closed

[2016-09-22 21:26] timGerken commented on #22
closed (or not-reproducible) via #56

[2016-09-22 21:26] #22 closed

[2016-09-22 21:28] #9 closed

[2016-09-22 21:29] #19 closed

[2016-09-22 21:31] timGerken opened #57 "Non-HoloLens platforms should use their native zoom gesture"
On HoloLens, there is a "zoom" button to toggle into zoom mode. When GE is run on a non-HoloLens platform, the "zoom" button should be removed and that platform's native "zoom" gesture should be plumbed through the input manager.

[2016-09-22 21:33] timGerken opened #58 "Non-HoloLens platforms should implement a rotation gesture"
On HoloLens, GE has a "tilt" button. When GE is not running on a HoloLens, the "tilt" button should be removed and a "well-thought-out" rotate gesture should be plumbed through the input manager.

[2016-09-22 21:34] timGerken opened #59 "When run on a phone, in SolarSystem view, it is hard to select anything other than the Sun"
Once you've navigated into our SolarSystem from the Galaxy view, it is really difficult to select a POI other than the Sun.

[2016-09-22 21:39] timGerken opened #60 "POIs in Galaxy view are difficult to select on phone"
When running on phone, the POI is difficult to select when running on the phone.
If the POI is moving towards the left when you select it, the POI card strafes across where the user tapped and remains visible. If, however, the POI is moving towards the right when you select it, the POI card quickly disappears as it continues on its rotation.

Two options I see:
1. First tap stops the Galaxy from r

[2016-09-23 15:03] elitemn commented on #43
Hi @timGerken, I have a working tool, but I am not satisfied with the font I am using, how would I go about finding the original font you folks used fort he billboards? The closest I could find was "OCR A Extended", but it would be nice to match 100%

[2016-09-23 18:15] timGerken commented on #43
Hi @elitemn, I just received this from one of the original GE devs:

[2016-09-23 19:23] elitemn commented on #43
Excellent Thanks @timGerken ! Should I include the POI maker as an added project to GE?

[2016-09-23 20:26] timGerken commented on #43
Yes, that's the way I envisioned the POI maker tool living with GE. At this point, hold off on adding the actual font. Instead, add a readme pointing to where to install the font and make that a prerequisite for running the tool. I'm double-checking to see if the license the font was released under is compatible with the MIT licence that GE is under.

[2016-09-28 19:39] elitemn commented on #43
@timGerken  Just created a pull request for this, check it out.

[2016-10-13 20:48] timGerken opened #66 "Phone: needs a splash screen"

[2016-10-13 20:48] timGerken opened #67 "PC: Needs a splash screen"

[2016-10-17 17:54] timGerken commented on #43
Hi @elitemn ,
are you ready to reissue your PR?
I'd love to get the tool added to the GE codebase and re-create all the POIs!

[2016-10-26 19:17] #52 closed

[2016-10-26 21:06] timGerken commented on #59
Same thing happens on PC and with the Sagittarius A* view.

This is because in both SagAStar and Solarsystem, there is a selectable object (black hole, sun) in the exact center of the screen. When transitioning to these scenes, that object is centered in the camera's view and is then being set as GazeSelectionManager.SelectedTarget. This in turn shows the POI card for that object and the next tap,

[2016-10-27 17:48] timGerken commented on #59
Disabling UseSphericalConeSearch when !VRDevice.isPresent solves this issue.

[2016-10-27 20:38] #36 closed

[2016-10-27 21:35] timGerken commented on #59
closed with #68

[2016-10-27 21:35] #59 closed

[2016-10-28 18:37] elitemn commented on #43
Yes, I'll open a PR today.

[2016-11-03 15:57] timGerken commented on #43
Closed via #69. Thanks @elitemn !

[2016-11-08 22:46] #43 closed

[2016-11-10 21:26] timGerken opened #71 "GalacticCenter/S2's POI target needs to be moved up a bit"
The POI target for S2 is inconsistent with the targets for other POIs. It needs to be moved up along the Y axis a bit.

[2016-11-10 21:27] timGerken opened #72 "GalacticCenter POIs need better spacing"
These POIs and their cards are grouped a bit too close together. They should be spread out some so they are easier to select.

[2016-11-10 21:29] timGerken opened #73 "GalacticCenter has glowing rings when transitioning in and out"
I think these are part sun glow/flare as the orbiting bodies are re-used Sun assets.

[2016-11-11 07:45] nonew opened #74 "Could not follow guide to build"
Hello, HoloLens team
I met several problems while building the Galaxy Explorer project:
1. From Unity, in Build Settings window. I could not find:
1.1 "any device" as the Target device
1.2 "Copy References" to check

If I ignore and continue, when I build output C# project in VS 2015, the 2nd problem happen:
2. "UnityPlayer", "AppCallbacks" and "WinRTBridge" assembly reference could not be found
b

[2016-11-11 14:32] elitemn commented on #74
Try Unity version 5.5.0b4

[2016-11-11 19:52] fluidImages opened #75 "Tools Menu does not work in b11"
The tools menu does not function as you gaze (or when you press the keyboard on a pc) in 5.5b11.

Sean

[2016-11-12 19:52] elitemn commented on #73
Fixed, pushed to elitemn/GalaxyExplorer fork.

[2016-11-12 22:53] elitemn commented on #71
Fixed and pushed to elitemn/GalaxyExplorer

[2016-11-14 00:38] elitemn commented on #72
Adjusted x value of indicator offset (POI). This meets the requirement of spreading indicators (and billboards) out a bit.

[2016-11-14 19:47] #71 closed

[2016-11-14 19:57] timGerken commented on #72
Interesting choice!

[2016-11-14 19:57] #72 closed

[2016-11-14 19:57] timGerken commented on #73
Thank you!

[2016-11-14 19:57] #73 closed

[2016-11-14 20:04] elitemn commented on #72
:)... I initially tried to move the indicators (indicator and line bottom x,y values), but when I got it to look in just the right position, there was way too much artificial parallax when moving relative to the indicators. I realize this is inconsistent with the rest of the POIs, but at least they should be more "selectable".

[2016-11-23 20:43] Camuvingian commented on #74
Did you manage to fix this problem?

[2016-11-24 06:01] nonew commented on #74
Finally I managed to get it worked in a new Win10 machine with following config:
-OS Windows 10 (10.0.14393) 64bit with latest update

-VS 2015 community with update 3 (with Windows 10 SDK 10.0.10586 checked)
https://www.visualstudio.com/downloads/

-Unity 5.5.0f1
https://unity3d.com/unity/beta#download

-HoloLens Emulator
http://go.microsoft.com/fwlink/?LinkID=823018

-Windows 10 SDK
https://deve

[2016-11-24 06:13] nonew commented on #74
One issue: no audio output when run in simulator.
Here is  VS output , I'm not sure if it is bug in Unity 5.
-----------------------------------------------------------------------
Audio source failed to initialize audio spatializer. An audio spatializer is specified in the audio project settings, but the associated plugin was not found or initialized properly. Please make sure that the selected s

[2016-11-28 07:16] qsshidong opened #77 "Can't start preview in Unity"
Sorry I am a newbie here. But I have a question to load this assets in Unity.

I have dowloaded this file and imported to unity, I have unity 5.5.0f2.

However, when I opened the folder, I can't see the '.unity' file, and can't build the project.

Can someone help me with the guidance?

Thanks so much in advance!

[2016-11-28 07:36] #77 closed

[2016-12-03 19:31] elitemn commented on #74
For those of you struggling with this: There is a missing step when installing the latest unity on a clean dev machine (for 5.5.0f3)  - Install the unity metro support package:
[Unity Metro Support Package 5.5.0f3](http://download.unity3d.com/download_unity/38b4efef76f0/TargetSupportInstaller/UnitySetup-Metro-Support-for-Editor-5.5.0f3.exe)

[2016-12-06 05:25] sessa opened #79 "NullReferenceException: Object reference not set to an instance of an object"
Hi, I am receiving this error in unity's console:

[code]

https://github.com/Microsoft/GalaxyExplorer/blob/master/Assets/Scripts/IntroductionFlow.cs#L92
[code]

I have not touched the cloned repo, I am using Unity 5.5.0f3.

[2016-12-06 17:54] timGerken commented on #79
Interesting, I'm not able to reproduce this behavior (clean clone of Microsoft/master).
Are you seeing this on device, emulator or in the Unity Editor.
In my attempt, the Unity Editor just froze after hitting the play-mode button (nothing output on the console). This may (or may not) be related to what you are seeing.
@elitemn , can you reproduce this issue?

[2016-12-06 19:32] sessa commented on #79
@timGerken -- The error appears in the Unity Console.

When I run the project in VS in the Emulator, it loads the unity loading screen then goes black.  Also, when running it as a standalone application, unity screen loads, and then the console output in the standalone windows app shows the same error.

Let me reclone and retry once more.  Will report back after.

[2016-12-08 18:40] Morbias86 opened #80 "POI Selection in Unity Editor not working"
Hi,
the selection of POIs and the Tools don't work in the newest version of Galaxy Explorer in Unity 5.5.0f3. Same goes for the Hololens Emulator. It works in the Hololens itself.
It works with the Commit a4f6c23 from Nov. 8th in Unity 5.5.0f3.
Greetings!

[2016-12-09 01:42] elitemn commented on #80
Interesting, I'll take a look this weekend if someone else hasn't fixed it. I have a full schedule this week.

________________________________
From: Morbias86 <notifications@github.com>
Sent: Thursday, December 8, 2016 12:40 PM
To: Microsoft/GalaxyExplorer
Subject: [Microsoft/GalaxyExplorer] POI Selection in Unity Editor not working (#80)

Hi,
the selection of POIs and the Tools don't work in the

[2016-12-09 01:59] timGerken commented on #80
I'm out all next week and doubt I'll get to it tomorrow.

[2016-12-09 02:14] elitemn commented on #80
Understood @timgerken. Feel free to assign this and or others to me.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Tim Gerken<mailto:notifications@github.com>
Sent: Thursday, December 8, 2016 7:59 PM
To: Microsoft/GalaxyExplorer<mailto:GalaxyExplorer@noreply.github.com>
Cc: Roy Villa<mailto:elitemn@hotmail.com>; Comment<mailto:comment@noreply.github.com>
Sub

[2016-12-09 19:36] timGerken commented on #80
@ChimeraScorn , can you add @elitemn as someone to whom issues can be assigned for GE?

[2016-12-12 01:59] elitemn commented on #80
I am working on this anyway.

[2016-12-15 03:19] ChimeraScorn commented on #80
I’ve sent a request to elitemn adding him as a collaborator.  Once he accepts, we can assign the issue.

-C

From: Tim Gerken [mailto:notifications@github.com]
Sent: Friday, December 9, 2016 11:37 AM
To: Microsoft/GalaxyExplorer <GalaxyExplorer@noreply.github.com>
Cc: Chris White <Chris.White@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/GalaxyExplorer] POI Selection

[2016-12-18 02:04] elitemn commented on #80
Accepted @ChimeraScorn

[2016-12-20 03:25] elitemn commented on #80
@Morbias86  -
HoloLens emulator (10.0.14393.0) works as expected with builds exported from Unity 5.5.0f3, as well as the HoloLens device. I can select POIs as normal, and I tested all of the tools (they work as expected).
I can confirm that I am unable to select when running in the Unity editor.

Can you confirm your build of HoloLens emulator?

[2016-12-20 04:10] elitemn commented on #79
Fresh dev build, Unity 5.5.0f3, HoloLens emulator 10.0.14393.0,  HoloLens device and emulator works as expected. @sessa, can you confirm your emulator build?
@timGerken, I can play from the main scene in unity just fine, intro, solar system view then to galaxy view.  I can't seem to select a POI in galaxy view from unity.

[2016-12-20 16:27] Morbias86 commented on #80
@elitemn -
I can confirm my build on HoloLens Emulator. Everything works as you described it, except for the selection in the Unity Editor. It's really weird.

[2016-12-25 20:20] elitemn commented on #80
I think I found the issue.  standby.

[2016-12-25 20:29] elitemn commented on #80
@Morbias86 - As a workaround while I investigate further: When playing in Unity player, In the Hierarchy, navigate to CoreSystems\Input.  In the inspector panel for "input", expand the "Gaze Selection" script and check the box for "Use Spherical Cone Search". This will override the code change that disabled selection in Unity.

[2016-12-27 19:39] timGerken commented on #80
The code here fixed #59.
Wrapping the code inside the if with a #if !UNITY_EDITOR block fixes this issue and keeps #59 in-tact.
[code]

[2016-12-30 03:26] elitemn opened #82 "Class needed to manage platforms (mobile, unity, VR, HoloLense)"
reference #80  #59 and possibly #75. 

[2017-01-06 18:21] timGerken commented on #80
resolved with #81

[2017-01-06 18:21] #80 closed

[2017-02-21 17:54] timGerken opened #83 "Implement Spectator View"
We should add [Spectator View](https://developer.microsoft.com/en-us/windows/holographic/spectator_view) to Galaxy Explorer.

[2017-03-08 06:09] Shubham7694 commented on #7
I am having the same issue but in release or master mode as well! I have a QR button which starts a coroutine to scan QR. On tapping twice in a go, app crashes with the above mentioned exception being thrown

[2017-03-28 17:22] NadirYaqoob opened #85 "Component could not be loaded when loading game object. Cleaning up!"
i have 2 problems
1 Component  could not be loaded when loading game object. Cleaning up!
2 Transform component could not be found on game object. Adding one!

how to solve it ?

[2017-03-28 22:36] timGerken commented on #85
Where and when do you see these messages?
Which release of Unity are you using?

[2017-03-28 22:56] #74 closed

[2017-04-30 04:47] 9724Prashant commented on #83
Wow it is very nice
But the humans is looking any time anywhere
So use your variable s anything show s

[2017-05-15 21:48] javiertorres7 opened #88 "Error building Player because scripts have compile errors in the editor"
I am trying to complete the building step, but it says that I need to fix some compile errors in the scripts, even though, I did not mess with code in the scripts. I also I do not know how to look for the errors in the scripts. I am using Visual Studio 2015 as my editor and I don't see any errors.

[2017-05-15 21:50] javiertorres7 commented on #88
I am using Unity 5.50f3 (64bit) by the way.

[2017-05-22 19:27] timGerken commented on #88
Hi @javiertorres7 ,
Can you give a little more detail about the errors that the Unity console is reporting? Maybe attach a screen shot? Unity 5.5.0f3 is the correct version of Unity (projectversion.txt). I exclusively use 64-bit.
Thanks!
Tim

[2017-05-22 22:47] javiertorres7 commented on #88
Yes, of course! I attached the screenshot down below. Thanks!

Javier Torres

On Mon, May 22, 2017 at 2:27 PM, Tim Gerken <notifications@github.com>
wrote:

[2017-05-22 23:44] timGerken commented on #88
@javiertorres7
Hmm. I'm not seeing the screenshot.

[2017-05-25 02:01] javiertorres7 commented on #88
![uniiii](https://cloud.githubusercontent.com/assets/23087965/26432816/0e3c3628-40c4-11e7-8095-3fb46f52c01c.PNG)

[2017-05-30 20:44] timGerken commented on #88
@javiertorres7
You are probably being affected by the details described in [this thread](https://forum.unity3d.com/threads/suddenly-unable-to-build-solutions-anymore.466066/). I just made a commit in Master to work with Unity 5.5.1p4 and Visual Studio 2017. Please let me know if these changes also resolve the issue you describe here.

[2017-06-12 20:00] timGerken opened #89 "Galaxy Explorer doesn't sustain custom zoom/tilt changes"
After zooming and/or tiling my view of our solar system, and then transitioning/clicking to a planet view or galaxy view, and then coming back to the solar system view, the zoom and tilt has been reset.

Customizing any view and browsing away and then returing causes the view to reset...

[2017-06-12 20:04] timGerken opened #90 "Galaxy explorer menu can disappear in a planet/star"

[2017-06-12 21:54] #85 closed

[2017-06-12 21:55] #79 closed

[2017-09-06 00:01] weed opened #91 "I would like to use GalaxyExplorer in lesson"
Dear **Microsoft GalaxyExplorer team**,
I am **Tatsuro Ueda**, Japanese.

Nice to meet you.
I was a teacher for ten years and now I am developing a science
learning application.
I am planning to visit junior high school and high school,
and to **teach an hour class using HoloLens**.
For the time being, I am thinking to try classes for free until the
end of March next year.

In these lessons, I wou

[2017-09-06 15:42] timGerken commented on #91
Greetings Tatsuro Ueda,

That is totally awesome and thank you for asking!
The license that Galaxy Explorer is published with grants you the ability to use it as you will.
We are interested in seeing what your students' impressions of Galaxy Explorer are.
Perhaps the rest of the open source community here can help bring their new ideas to the application.

Best regards,
Tim Gerken

@weed
@ChimeraS

[2017-09-07 08:47] weed commented on #91
Dear Tim Gerken,

Thank you for your peace of mind.
I am glad that I could use GalaxyExplorer for my lesson.
Looking at the galaxy from the side, I'd like to teach "This is Milky Way!"
I'm going to start translating messages from now on.
I will do my best to tell you students' impressions and requests

Best regards,
Tatsuro Ueda

@timGerken

[2017-09-10 12:12] #91 closed

[2017-10-19 22:31] timGerken opened #96 "Remove this method once Unity 2017.2.0p1 is released and verified not needed"
This method was added to temporarily work around a Unity bug.

https://github.com/Microsoft/GalaxyExplorer/blob/c40dac423b00164627f123e934e6570065a5d56f/Assets/SolarSystem/OrbitalTrails/OrbitalTrail.cs#L68

That bug is slated to be fixed in 2017.2.0p1.

[2017-10-19 22:40] timGerken commented on #82
MyAppPlatformManager.cs does this in the MixedReality branch. I'm not super thrilled with how it landed. Once that branch is merged with master we should revisit.

[2017-10-27 09:47] RapukeMoana opened #97 "Build Fails 2017.2.0f3-MRTP3 WIN10 SDK 10.0.16299.0"
Following error on build. Runs in Unity.
Exception: Failed to locate env variables VS140COMNTOOLS or VS120COMNTOOLS.
Utility.GetVSVersion () (at C:/buildslave/unity/build/PlatformDependent/WinRT/SharedSources/CSharp/Utility.cs:623)
MetroCSharpVisualStudioSolutionCreator.WriteSolutionFile (System.String solutionFileName, UnityEditor.Scripting.ScriptCompilation.ScriptAssembly[] csharpAssemblies) (at

[2017-10-30 23:06] timGerken commented on #97
Can you provide a little more detail?
It looks like it is the build step from Unity that is failing for you.
Do you have Visual Studio 2017 installed? Do you have any other version of VS installed?
On which branch are you seeing this? master or MixedReality?

[2017-11-01 06:24] RapukeMoana commented on #97
Yes I have VS 2017 and today upgraded to 15.4.2 from 15.4.1. I have no other VS in fact this is a very new clean Surface Pro. I uninstalled Unity and reinstalled 2017.2.0f3-MRTP3. Windows is 1709 16299.19. Very frustrating but that said I am very happy to see this branch as I have plans to build onto it. I am on Mixed Reality branch.

[2017-11-02 08:44] RapukeMoana commented on #97
What version of all these tools did you use to build this?

[2017-11-06 17:39] timGerken commented on #97
Unity 2017.2.0f3-MRTP3 and VS 2017 15.4.2.

Do you have entryies for VS100COMNTOOLS and VS140COMNTOOL anywhere in your registry?

Look here:
HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Control\Session Manager\Environment

[2017-11-08 04:29] RapukeMoana commented on #97
It appears not. What should I do.
![galaxyexplorerissue](https://user-images.githubusercontent.com/11530296/32531720-5fbfd85a-c4aa-11e7-893d-441e03c3dca7.PNG)
This is outside my knowledge. Thanks for your help.

[2017-11-08 04:56] jimshalo10 commented on #97
My testing of the new release at
If you try to load  2017.2.0f3 MR 3 it will stop as UWP [ 2017.2.0f3](https://store.unity.com/download/thank-you?thank-you=personal&os=win&nid=437) is newest

Try [Demo](https://mtaulty.com/2017/11/04/butterflies-hello-world-demo-across-holographic-and-immersive-headsets/)

[2017-11-08 19:15] timGerken commented on #97
@RapukeMoana ,
I'm not able to reproduce what you are seeing. That said, I have Visual Studio 2010, 2015 and 2017 installed and am currently using [Unity 2017.2.0p1-MRTP4](http://beta.unity3d.com/download/b1565bfe4a0c/download.html). Even if I remove VS100COMNTOOLS and VS140COMNTOOLS from my environment, I don't see the issue you are describing.

A couple more questions:
1) can you re-confirm that

[2017-11-08 19:18] ChimeraScorn commented on #97
Does building a new app from Unity work on your machine?

[2017-11-08 20:46] jimshalo10 commented on #97
As instructed loading[g Unity 2017.2.0p1-MRTP4]( http://beta.unity3d.com/download/b1565bfe4a0c/download.html)
git clone http://github.com/microsoft/galaxyexplorer -b MixedReality

Built target being PC, everything build in VS2017 fine
Just need to know how to send directly to HP WMR headset, never do this before
Thanks

[2017-11-12 01:39] RapukeMoana commented on #97
Thank you for your help. I had been working from the zip and as soon as I cloned from GitHub it all builds. Very much looking forward to building on GE. This describes our starting point which has been a design class collaboration so far and is now moving into building. https://trello.com/b/uaCT48b5/chronospatial

[2017-11-12 01:39] #97 closed

[2017-11-15 19:13] timGerken commented on #82
#102

[2017-11-15 19:13] timGerken commented on #67
#102

[2017-11-15 19:14] timGerken commented on #66
#102

[2017-11-15 19:14] timGerken commented on #60
#102

[2017-11-15 19:14] timGerken commented on #58
#102

[2017-11-15 19:15] timGerken commented on #57
#102

[2017-11-15 19:16] timGerken commented on #11
#102 addresses this for Windows Mixed Reality immersive headsets. HoloLens, however, does not currently publicly expose this functionality.

[2017-11-29 19:12] #82 closed

[2017-11-29 19:13] #67 closed

[2017-11-29 19:13] #66 closed

[2017-11-29 19:14] #60 closed

[2017-11-29 19:14] #58 closed

[2017-11-29 19:14] #57 closed

[2017-11-29 19:16] #11 closed

[2017-11-29 19:17] #88 closed

[2017-11-30 18:47] timGerken opened #105 "Need to figure out a way to build GE for D3D instead of XAML and maintain compatibilty"
- Route touch/gesture/input events from desktop/slate/phone to the application\
- Implement equivalent of the app-bar menu for Reset and About
- Ensure the back-button affordance is still available.

[2017-12-02 00:35] RapukeMoana opened #106 "Start Time of the Solar System and accuracy of plot"
Does anyone know when (year) that the solar system begins in the animation?

[2017-12-07 20:10] DavidShoe opened #107 "Unable to build due to error signing the project"
Severity	Code	Description	Project	File	Line	Suppression State
Error		An error occurred while signing: Failed to sign bin\Release\app.publish\GE_POIMaker.exe. SignTool Error: No certificates were found that met all the given criteria.	GE_POIMaker

[2017-12-07 21:56] timGerken commented on #107
Unless you're trying to actually build GE_POIMaker, a temporary workaround is to right click on that project in Visual Studio and select "Unload Project".

[2017-12-07 21:56] timGerken commented on #106
@bjmalicoat

[2017-12-21 18:24] timGerken opened #111 "Particle effect in Logo is messed up"
The particle effect that renders the galactic cloud in the logo animation is messed up. It looks like it is going in the wrong direction and rotates weirdly as you move/roll your head.

[2017-12-21 18:28] timGerken commented on #45
@ChimeraScorn and I think having each contributor's own voice captured with their contribution makes this a more fun community-based project.

[2017-12-21 18:31] timGerken commented on #3
Microsoft/master now includes cross-platform support for HoloLens, desktop, Windows Mixed Reality and mobile. The last I heard on the Xbox front was some of the shaders needed work to allow the application to run in Xbox's SRA mode.

[2017-12-21 18:34] timGerken opened #112 "Sagitarius A* could use a better visualization"
The current visualization uses really big versions of our Solar System's Sun's solar flares. At times, this visualization has difficulty maintaining 60FPS on HoloLens.

[2017-12-21 23:39] timGerken commented on #96
Closed via #109

[2017-12-21 23:39] #96 closed

[2017-12-26 05:24] Eg-Virus opened #113 "Unloaded Projects"
Hi,
i just downloaded the code and tried to load the solution but there's 2 projects couldn't loaded because one is not there and that would be **Assembly-CSharp** and the other is Glaxy Explorer because it can't find the file **UnityCommon.props**

i don't know if i missing anything or not, but i installed everything based on the instructions from this [Install the tools](https://developer.micros

[2017-12-26 05:34] timGerken commented on #113
Which version of Unity are you using?

________________________________
From: Tamer <notifications@github.com>
Sent: Monday, December 25, 2017 9:24:26 PM
To: Microsoft/GalaxyExplorer
Cc: Subscribed
Subject: [Microsoft/GalaxyExplorer] Unloaded Projects (#113)

Hi,
i just downloaded the code and tried to load the solution but there's 2 projects couldn't loaded because one is not there and that would

[2017-12-26 05:38] Eg-Virus commented on #113
I'm using
Windows 10 Version 1709,Build 16299.125
Unity version 2017.3.0f3
VS 2017 version 15.5.2

[2017-12-26 05:48] timGerken commented on #113
What are the settings in the build settings… dialog in unity?

Sent from my Windows 10 phone

________________________________
From: Tamer <notifications@github.com>
Sent: Monday, December 25, 2017 9:38:06 PM
To: Microsoft/GalaxyExplorer
Cc: Tim Gerken; Comment
Subject: Re: [Microsoft/GalaxyExplorer] Unloaded Projects (#113)

I'm using
Windows 10 Version 1709,Build 16299.125
Unity version 2017.3.0

[2017-12-26 06:53] Eg-Virus commented on #113
My bad, i thought that everything is already built and ready to run because it big size solution(i didn't read the readme from the github).
i loaded the projects after building it from Unity and facing different problem now :)

Sorry for wasting your time.

[2017-12-26 06:55] #113 closed

[2017-12-26 07:09] Eg-Virus commented on #107
I have this issue as well.

[2017-12-26 16:03] timGerken commented on #107
Please try the work around listed for this issue for now.

Sent from my Windows 10 phone

________________________________
From: Tamer <notifications@github.com>
Sent: Monday, December 25, 2017 11:09:17 PM
To: Microsoft/GalaxyExplorer
Cc: Tim Gerken; Comment
Subject: Re: [Microsoft/GalaxyExplorer] Unable to build due to error signing the project (#107)

I have this issue as well.

—
You are receiv

[2017-12-27 02:05] elitemn commented on #107
This is due to the expiration of the test certificate. This certificate should be replaced by a certificate issued by a commercial CA, with a valid trust chain. A temporary work-around would be to reissue the test certificate and build the application.

[2017-12-27 02:29] elitemn commented on #112
Yes indeed, and it is not as "pretty" or imaginative as I would like.  An easy fix would be to get rid of the large flares (it is supposed to approximate an event horizon, with weirdness, I thought it looked kind of cool when walking around it, and it was different) in favor of the "standard" depiction of an accretion disc, or just a thin light border around a dark sphere. Thoughts? Suggestions?

[2017-12-27 18:00] timGerken commented on #107
Alternately, completely removing the signing requirement seems to solve the problem equally well.

[2017-12-27 18:01] timGerken commented on #112
I love the "differentness" of the effect. I, however, have zero artistic talent and hope the rest of the community can pitch in here.

[2017-12-28 17:46] Eg-Virus commented on #107
The Workaround works.

[2017-12-28 18:09] #107 closed

[2018-01-02 20:04] #75 closed

[2018-01-02 20:04] #7 closed

[2018-11-06 10:58] timGerken opened #116 "Port Galaxy Explorer to current HoloToolKit"
Galaxy Explorer was released on a very early (pre-release) incarnation of the HoloToolKit.

It would be great if we could either port the existing project to the current HoloToolKit (aka legacy MRTK) or re-build the app from the ground up on said HTK.

[2018-12-24 12:41] timGerken commented on #116
This is addressed in #118

[2018-12-24 12:41] timGerken commented on #112
This is updated in #118

[2018-12-24 12:42] timGerken commented on #89
This is addressed in #118

[2018-12-27 10:24] timGerken opened #119 "Some textures need a change so opening clean project loads without warnings"
![image](https://user-images.githubusercontent.com/14828396/50521101-f362a080-0abb-11e9-9957-63e289fe0733.png)

Note: when this dialogue appears, do NOT click the "Fix now" button. It will make Jupiter and Mars look terrible.

[2018-12-27 10:27] timGerken opened #120 "Desktop: need to navigate back on VK_BROWSER_BACK"
Need to find a way in Unity to hook the "browser back" button that is present in some mice and keyboards.

[2018-12-27 10:31] timGerken opened #121 "Splash screen jitter"
Splash screen in HoloLens and MR looks great
In desktop though it jitters

**Repro steps:**
Launch app in desktop platform, observe hologram splash screen at the end it jitters badly before Logo of app appears

[2018-12-27 10:33] timGerken opened #122 "Voice commands need to be re-implemented post HoloToolkit port"
None of the voice commands present in the original GE have been implemented with the new HoloToolkit.

[2018-12-27 10:36] timGerken opened #123 "About card not going away when navigating back on desktop"
In Desktop platform, user goes in the previous scene by pressing backspace button.
If previously user has opened the about card and then user presses backspace then the about card
doesn't go away.

In VR and HoloLens that user goes back through the menu, then about card goes away

[2018-12-27 10:37] timGerken opened #124 "When navigating from Solar System to Galaxy, POIs become brighter before fading"
When going back to galaxy view, from solar system then pois at moment of fade out, are becoming more bright/intense and then they fade

[2018-12-27 10:39] timGerken opened #125 "Some functionality of original WorldAnchorHandler missing in new port"
WorldAnchorHelper in original GE has more functionality that hasn't been brought into new WorldAnchorHandler

Need to look into the old functionality, and transfer/implement what's necessary

[2018-12-27 10:41] timGerken commented on #120
https://docs.microsoft.com/en-us/windows/desktop/inputdev/virtual-key-codes: 0xA6

[2018-12-27 11:05] timGerken opened #126 "Once HoloToolkit 2017.4.4.0 is released need to remove HTK from project and use Nuget instead"
GE currently relies on a change slated for HTK 2017.4.4.0.
[https://github.com/Microsoft/MixedRealityToolkit-Unity/commit/53b43c9d53db0da9279049c24e5fa9dbf0cef228](https://github.com/Microsoft/MixedRealityToolkit-Unity/commit/53b43c9d53db0da9279049c24e5fa9dbf0cef228)
Once that version of the HTK has been released, we should remove the HTK from the GE project and instead fetch it via NuGet for Unit

[2018-12-27 15:05] timGerken commented on #121
This seems to be a bug in the current build(s) of Unity.

1. On the original GE, this splash screen never even appeared when running on desktop. For some reason it does now.
2. There is no apparent way to access this funcionality in order to disable it.

[2018-12-28 13:02] timGerken opened #127 "BlackHoleGlowCard has two warnings when first loading project"
Two shader warnings when first loading GE into Unity:
[code]
[code]

[2018-12-28 17:05] timGerken opened #128 "Clicking on links in about Card doesn't work."
[code]

[2018-12-28 17:33] timGerken commented on #124
This no longer reproduces.

[2018-12-28 17:33] #124 closed

[2018-12-31 13:36] timGerken commented on #128
fixed in #118

[2018-12-31 13:36] timGerken commented on #127
fixed in #118

[2018-12-31 13:37] timGerken commented on #123
fixed in #118

[2018-12-31 13:37] timGerken commented on #122
fixed in #118

[2018-12-31 13:37] timGerken commented on #120
fixed in #118

[2018-12-31 13:37] timGerken commented on #119
fixed in #118

[2019-03-04 19:31] keveleigh commented on #119
Whoops, re-opening until #118 is merged.

[2019-05-08 05:57] dunaij93 commented on #85
i have got the same problem, and i am using unity 2018.3.8f1

[2019-06-20 12:35] #120 closed

[2019-06-20 12:35] #119 closed

[2019-06-20 12:35] #122 closed

[2019-06-20 12:35] #123 closed

[2019-06-20 12:35] #127 closed

[2019-06-20 12:35] #128 closed

[2019-07-24 14:51] jessemcculloch commented on #126
New version of Galaxy Explorer upgrades to MRTK v2

[2019-07-24 14:51] #126 closed

[2019-07-24 14:52] jessemcculloch commented on #125
No longer relevant with latest version of Galaxy Explorer

[2019-07-24 14:52] #125 closed

[2019-07-24 14:52] jessemcculloch commented on #116
No longer relevant with latest version of Galaxy Explorer

[2019-07-24 14:52] #116 closed

[2019-07-24 14:53] jessemcculloch commented on #121
No longer relevant with latest version of Galaxy Explorer

[2019-07-24 14:53] #121 closed

[2019-07-24 14:53] jessemcculloch commented on #112
No longer relevant with latest version of Galaxy Explorer

[2019-07-24 14:53] #112 closed

[2019-07-24 14:54] jessemcculloch commented on #111
No longer relevant with latest version of Galaxy Explorer

[2019-07-24 14:54] #111 closed

[2019-08-07 10:12] ChristophHoltmann opened #132 "Clean up of the folder structure"
It would be nice to have a few more folders especially in the Scripts folder to find things faster. At the moment utility scripts are in the same folder as visual-effect scripts for example.

Not a bug, but would be nice.
Really amazing project by the way! I learned a lot. Thank you for sharing it.

[2019-08-19 10:07] DirkSonguer commented on #132
Hi @ChristophHoltmann, I can see what you mean. Let us think about how we can structure it and then get back with a later update. For now our focus is kinda on the v2 of MRTK, which will then be integrated into Galaxy Explorer.

That said - would you have any suggestions?

Also, I'm glad the project was helpful!

[2019-08-19 20:29] ChristophHoltmann commented on #132
Thanks for the response. I understand the focus on the MRTKv2.

You could maybe separate 1. planet/solar system 2. visual effects 3. input and 4. utils for the beginning.

I wish you much success!

[2020-07-08 12:42] ousamanour opened #133 "Using Galaxy explorer with newer version of Mixed Reality toolkit or some of its prefabs"
I am trying to use one of the prefabs of galaxy explorer with MRTK 2.1 project, but it is not working, I tried also to upgrade the galaxy project to newer version of mrtk and also failed. is it built to work only with MRTK2.0RC1?

[2021-09-10 07:48] drakelzh opened #134 "Hope to launch the Unreal version ：）"
Great!!!

[2022-05-12 12:42] Jaychouxq commented on #10
Is this website invalid？